p{
  text-align: justify;
}

.fondos{
  background-color: rgb(10, 10, 55);
}  

.boton{
  background-color: maroon;
}

.lavanda{
  background-color: lavender;
}
#usuario{
  color:white;
  display:flex;
  margin:auto;
}